---
const { call_to_action } = Astro.props;
---

{
  call_to_action.data.enable && (
    <section class="bg-white dark:bg-midnight">
      <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="relative isolate overflow-hidden bg-gray-100  dark:bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
          <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
            <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
            <defs>
              <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                <stop stop-color="#fcd303" />
                <stop offset="1" stop-color="#cc5200" />
              </radialGradient>
            </defs>
          </svg>
          <div class="mx-auto max-w-md text-center lg:ml-6 lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
            <h1 class="text-gray-800 dark:text-gray-100 text-4xl font-bold leading-none">¿Preparado para
                <span class="cursor-default text-transparent bg-gradient-to-br bg-clip-text from-acadeller via-yellow-500 to-orange-500 dark:from-yellow-300 dark:via-yellow-500 dark:to-orange-500 hover:animate-pulse">
                    empezar
                </span>
                hoy mismo?</h1>
            <p class="mt-6 text-lg leading-8 text-gray-800 dark:text-gray-300">No esperes más, estas a un click de abrir la puerta a un futuro lleno de oportunidades.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
              {call_to_action.data.button.enable && (
                <a
                  class="btn btn-primary btn-primary-gradient-hover"
                  href={call_to_action.data.button.link}
                >
                  {call_to_action.data.button.label}
                </a>
              )}
            </div>
          </div>
          <div class="w-2/4 h-80">
            <img class="floating-element" src={call_to_action.data.image} alt="Rocket" />
          </div>
        </div>
      </div>
    </section>
  )
}
