---
import CourseCard from "@/components/CourseCard.astro";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getEntry } from "astro:content";

const courseIndex = await getEntry<any, string>("cursos", "-index");
const courses = await getSinglePage("cursos");
---

<Base title={courseIndex.data.title}>
  <PageHeader title={courseIndex.data.title} />
  <section class="section-sm pb-10">
    <div class="container grid grid-cols-1 content-center ">
      <div class="row justify-center">
        {
          courses.map((author) => (
            <div class="mb-14 md:col-6 lg:col-4 2xl:mt-12">
              <CourseCard data={author} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
